.funds {
    margin: 0;

    @media screen and (min-width: 768px) {
        margin: 4rem 0;
    }

    &__header {
        padding-bottom: 24px;
        font-family: Roboto;
        font-size: 3rem;
    }

    &Tab {
        padding: 24px;
        &__text {
            padding-bottom: 24px ;
            @media screen and (min-width: 768px) {
                padding-right: 40px;

            }
        }

        &__tabs {
            color: #ffc0cb;
        }

        &__ratings {
            padding-bottom: 24px;

            &-container {
                padding-top: 24px;
            }
        }

        &__buttonGroup {
            width: 100%;
            padding-bottom: 24px;
        }

        &__pieChart {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
        }

        &__gauge__labels {
            width: 100%;
            text-align: center;
            display: flex;
            justify-Content: space-between;
            margin-bottom: 24px;
        }
    }
}